.bg_video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 0%;
    width: 100%;
    height: 100%;
    z-index: -100;
}

body {
    margin: 0;
    padding: 0;
  }
  .linha {
    position: absolute;
    top: 7%;
    left: 40%;
    transform: translate(-50%, 0%);
  }
  .legenda {
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    font-family: MELANIEMARTINEZLOGO FONT ZOOLD;
  }
  .linha1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
  }
  .gif {
    width: 200px;
    height: 200px;
    margin: 3px;
    cursor: pointer;
    float: left;
  }
  .gif:hover {
    width: 300px;
    height: 300px;
    transition: all 0.5s ease-in-out;
  }
  .gif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .legenda1 {
    position: absolute;
    top: 25%;
    left: 3.2%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 23.5px;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
  }

  .legenda2 {
    position: absolute;
    top: 25%;
    left: 16.6%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
  }

  .legenda3 {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 23.5px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda4 {
    position: absolute;
    top: 25%;
    left: 84%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda5 {
    position: absolute;
    top: 58%;
    left: 2%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 23.5px;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
  }

  .legenda6 {
    position: absolute;
    top: 58%;
    left: 15%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    font-family: Arial;
  }

  .legenda7 {
    position: absolute;
    top: 58%;
    left: 73%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 23.5px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda8 {
    position: absolute;
    top: 58%;
    left: 82%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda9 {
    position: absolute;
    top: 90%;
    left: 2%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda10 {
    position: absolute;
    top: 90%;
    left: 14%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda11 {
    position: absolute;
    top: 90%;
    left: 74%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }

  .legenda12 {
    position: absolute;
    top: 90%;
    left: 86%;
    transform: translate(-10%, -50%);
    color: #FFC6DC;
    text-shadow: 2px 2px 4px #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
  }