 .u-section-1 {
  background-image: url("images/391638177_18305343217140851_4644302761403544899_n.jpg");
  background-position: 50% 52.79%;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-text-1 {
  margin: 339px 598px 60px -28px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 498px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 198px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-2 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .embed-responsive-1 {
    width: 314%;
    left: -107%;
  }
} .u-section-3 {
  min-height: 528px;
}

.u-section-3 .u-gallery-1 {
  height: 528px;
  grid-gap: 17px;
  margin: 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 436px;
  }

  .u-section-3 .u-gallery-1 {
    height: 436px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1002px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1002px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1608px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1608px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1689px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1690px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 753px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 599px;
  background-image: url("images/392738413_2048673088636660_7866169827963289347_n.jpg?rand=1500");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-4 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-4 .u-text-1 {
  margin: 0 31px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 13px auto 0 30px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0 31px;
}

.u-section-4 .u-icon-1 {
  height: 32px;
}

.u-section-4 .u-text-3 {
  margin: -30px 0 0 76px;
}

.u-section-4 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 516px 0 31px;
}

.u-section-4 .u-icon-2 {
  height: 32px;
}

.u-section-4 .u-text-4 {
  margin: -30px 0 0 76px;
}

.u-section-4 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 516px 0 31px;
}

.u-section-4 .u-icon-3 {
  height: 32px;
}

.u-section-4 .u-text-5 {
  margin: -30px 0 0 76px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-image-1 {
    min-height: 494px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-4 .u-image-1 {
    min-height: 378px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-social-icons-2 {
    margin-right: 417px;
    margin-left: 0;
  }

  .u-section-4 .u-social-icons-3 {
    margin-right: 417px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-4 .u-image-1 {
    min-height: 773px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-image-1 {
    min-height: 487px;
  }

  .u-section-4 .u-social-icons-2 {
    margin-right: 308px;
  }

  .u-section-4 .u-social-icons-3 {
    margin-right: 308px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 893px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 912px;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 16px;
}

.u-section-5 .u-text-2 {
  margin: 26px 16px 0;
}

.u-section-5 .u-image-1 {
  min-height: 599px;
  background-image: url("images/363333965_18292712095140851_296003510820916015_n.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 752px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-5 .u-image-1 {
    min-height: 549px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-5 .u-image-1 {
    min-height: 346px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 954px;
  background-image: url("images/397408463_18307736779140851_7509541160884364327_n.jpg");
  background-position: 62.78% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 954px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 11px 42px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-6 .u-image-1 {
    min-height: 787px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 787px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-6 .u-image-1 {
    min-height: 603px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-6 .u-image-1 {
    min-height: 936px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-6 .u-image-1 {
    min-height: 589px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 954px;
  background-size: auto 115%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: 11px 42px 0 16px;
}

.u-section-7 .u-image-1 {
  min-height: 954px;
  background-image: url("images/397320778_18307736806140851_3871964758139684932_n.jpg");
  background-position: 46.98% 100%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 25px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 787px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 787px;
    background-size: auto 115%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 603px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-7 .u-image-1 {
    min-height: 875px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-7 .u-image-1 {
    min-height: 551px;
  }
} .u-section-8 {
  min-height: 703px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  min-height: 703px;
  background-image: url("images/362669176_18292712122140851_2108593780346524702_n.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 703px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 98px 0 0 120px;
}

.u-section-8 .u-form-1 {
  height: 147px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  --progress-spacing: 20px;
  --bar-size: 2px;
  --bar-default-color: #c0c0c0;
  --bar-active-color: #478ac9;
  --step-icon-size: 48px;
  
  --step-icon-border-width: 0px;
  --step-icon-border-radius: 50px;
  --step-icon-border-color: #808080;
  --step-icon-default-color: #d9d9d9;
  --step-icon-done-color: #478ac9;
  --step-icon-active-color: #b3b3b3;
  --step-icon-text-default-color: #ffffff;
  --step-icon-text-done-color: #ffffff;
  --step-icon-text-active-color: #ffffff;
  --step-text-default-color: #b3b3b3;
  --step-text-done-color: #478ac9;
  --step-text-active-color: #999999;
  margin: 58px 30px 0 90px;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 19px;
  margin: 62px 149px 0 129px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 580px;
  }

  .u-section-8 .u-image-1 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 36px;
    margin-left: 20px;
  }

  .u-section-8 .u-form-1 {
    width: 410px;
    margin-left: 20px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 99px;
    margin-left: 79px;
    width: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 444px;
  }

  .u-section-8 .u-image-1 {
    min-height: 444px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-8 .u-form-1 {
    width: 300px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 44px;
    margin-left: 24px;
    width: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 666px;
  }

  .u-section-8 .u-image-1 {
    min-height: 666px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 419px;
  }

  .u-section-8 .u-image-1 {
    min-height: 419px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}